.userD{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    align-self: center;
    margin-top: 20px;
    border-radius: 49px;

}
.card{
    margin-top: 20px;
}