<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
     
        <div class="d-flex">
            <button class="btn btn-outline-success" type="button">Logout</button>
        </div>
        
      </div>
   
  </nav>
  <div class="container ">
    <div class="row">
  <div class="card" style="width: 18rem;">
    <img  src="../../../assets/no user.jpg" class="card-img-top userD">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset>
          <legend >Edit</legend>
          <div class="form-outline mb-4">
            <label class="form-label"  for="form2Example3">User Name</label>
            <input formControlName="name" type="text" id="form2Example3" class="form-control"/>
            <div *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched" class="error-message" style="color: red">
                Username is required
              </div>
              <div *ngIf="!form.get('name')?.hasError('required') && form.get('name')?.touched && form.get('name')?.hasError('pattern')" class="error-message" style="color: red">
                *Enter Valid Name
              </div>
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example3"> Work Experience</label>
            <input formControlName="experience" type="text" id="form2Example3" class="form-control"/>
            <div *ngIf="form.get('experience')?.hasError('required') && form.get('experience')?.touched" class="error-message" style="color: red">
                Work experience is required.
              </div>
             
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example3">Education Details</label>
            <input formControlName="education" type="text" id="form2Example3" class="form-control"/>
            <div *ngIf="form.get('education')?.hasError('required') && form.get('education')?.touched" class="error-message" style="color: red">
                Education Details is required
              </div>
              <div *ngIf="!form.get('education')?.hasError('required') && form.get('education')?.touched && form.get('education')?.hasError('pattern')" class="error-message" style="color: red">
                Enter Valid Education details 
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        
        </fieldset>
      </form>
  </div>
  </div>
</div>